.card {
  width: 100%;
  padding: 16px;
  background: #fff;
  min-height: 560px;
  .table-wrapper {
    padding: 16px;
    min-height: 530px;
    background: #eee;
    border: 1px solid #ccc;
    .title {
      font-size: 28px;
      font-weight: 300;
      margin: 8px 0 16px;
      display: block;
    }
    .details {
      background: #fff;
      mat-list-item {
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
      label {
        width: 200px;
      }
      .edit {
        right: 24px;
        position: absolute;
        color: #bbb;
      }
    }
  }
}
