<section class="card mat-elevation-z4">
  <div class="table-wrapper">
    <span class="title">Profile Detail</span>
    <mat-list class="details mat-elevation-z4">
      <div *ngFor="let item of items; let i = index">
        <mat-list-item>
          <label>
            {{ item.label }}
          </label>
          <strong class="value">
            {{
              item.key === 'prefix' || item.key === 'suffix'
                ? (item.value | initials)
                : item.key === 'birthdate' && item.value !== '-'
                ? (item.value | date: 'yyyy-MM-dd')
                : item.value
            }}
          </strong>
          <div class="edit">
            <mat-icon class="open-in-new-icon">edit</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
</section>
