.profile-header {
  height: 180px;
  .mat-toolbar-row.profile-header-row {
    height: auto;
    margin-top: 18px;
    font-size: 32px;
    .avatar-wrapper {
      position: relative;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0 8px 0 12px;
      .avatar {
        background: #fff;
        border-radius: 50%;
        width: 50px;
      }
      .social {
        position: absolute;
        right: -2px;
        border-radius: 50%;
        top: -3px;
        background: #fff;
      }
    }
  }
}
