<mat-toolbar color="primary" class="profile-header">
  <mat-toolbar-row *ngIf="profile$ | async as data" class="profile-header-row">
    <span>
      Profile:
    </span>
    <div class="avatar-wrapper">
      <img class="avatar" :src="{{ data.profile?.photo }}" />
      <img
        class="social"
        *ngIf="data.profile?.photo"
        src="assets/icon-linkedin.png"
      />
    </div>
    <span>{{ data.profile?.first_name }} {{ data.profile?.last_name }}</span>
  </mat-toolbar-row>
</mat-toolbar>
