<mat-toolbar color="primary" class="search-header">
  <mat-toolbar-row>
    <h1 class="title">Profiles</h1>
  </mat-toolbar-row>
  <mat-toolbar-row class="search-input-row">
    <form class="search" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <mat-icon matPrefix class="search-icon">search</mat-icon>
      <input
        type="text"
        matInput
        placeholder="Search profiles"
        formControlName="filter"
      />
      <button
        type="submit"
        mat-flat-button
        aria-label="Search button"
        class="search-button"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
