.search-header {
  height: 180px;
  position: relative;
  .title {
    margin-top: 22px;
  }
  .search-input-row {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    .search {
      position: relative;
      display: flex;
      width: 92%;
      input {
        width: 100%;
        padding: 12px 8px 12px 40px;
        font-size: 14px;
        background: #fff;
        color: #000;
        height: 20px;
      }
      .search-icon {
        position: absolute;
        padding: 12px;
        height: 20px;
        width: 20px;
        color: gray;
        font-size: 20px;
      }
      .search-button {
        font-size: 14px;
        color: #fff;
        height: 44px;
        border-radius: 0;
        margin-left: 8px;
        background: rgba(0, 0, 0, 0.2);
        &:hover,
        &:active {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
