<div class="profile-body">
  <section class="side">
    <profile-facts></profile-facts>
  </section>
  <section class="main">
    <mat-tab-group backgroundColor="primary" color="primary">
      <mat-tab label="Profile Details">
        <div class="content">
          <profile-detail></profile-detail>
        </div>
      </mat-tab>
      <mat-tab label="Profile ID's"></mat-tab>
      <mat-tab label="Activity Timeline"> </mat-tab>
    </mat-tab-group>
  </section>
</div>
