.profile-body {
  display: flex;
  margin-top: -86px;
  padding: 16px;
  .side {
    display: flex;
  }
  .main {
    display: flex;
    flex-grow: 1;
    padding: 0 16px;
    .mat-tab-group {
      width: 100%;
      .content {
        padding: 40px 32px 16px 0;
        min-height: 600px;
      }
    }
  }
}
