<div class="alert">
  <h3 mat-dialog-title>
    <mat-icon class="open-in-new-icon">{{
      data.errorType || 'error'
    }}</mat-icon>
    Error
  </h3>
  <mat-dialog-content class="mat-typography">
    {{ data.message }}
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close color="secondary">Close</button>
  </mat-dialog-actions>
</div>
