<div class="profile-fatcs">
  <mat-card class="mat-elevation-z4">
    <h1>Quick Facts</h1>
    <div class="list">
      <div class="item">
        <div class="header">
          <h5>Status</h5>
          <mat-icon class="open-in-new-icon">open_in_new</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="body">
          <div class="row">
            <div class="icon-wrapper">
              <mat-icon class="open-in-new-icon">person</mat-icon>
            </div>
            <div class="content">
              <span>ID: SH051545</span>
              <span>Tier: Gold</span>
              <span>Pts: 125,024</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="header">
          <h5>Top 3 Facts</h5>
          <mat-icon class="open-in-new-icon">open_in_new</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="body">
          <div class="row">
            <div class="icon-wrapper">
              <mat-icon class="error-icon">error</mat-icon>
            </div>
            <div class="content">
              <span>Suite Room</span>
              <span>King Bed</span>
              <span>Highest Floor</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="header">
          <h5>RFM Score</h5>
          <mat-icon class="open-in-new-icon">open_in_new</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="body">
          <div class="row">
            <div class="icon-wrapper">
              <mat-progress-spinner
                class="progress"
                color="primary"
                mode="determinate"
                value="80"
                diameter="40"
              >
              </mat-progress-spinner>
              <span class="score">80%</span>
            </div>
            <div class="content score-summary">
              <span>R: 70%</span>
              <span>F: 50%</span>
              <span>M: 90%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item other-facts">
        <div class="header">
          <h5>Other facts</h5>
          <mat-icon class="open-in-new-icon">open_in_new</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="body">
          <div class="row">
            <div class="icon-wrapper">
              <mat-icon class="other-facts-icon">date_range</mat-icon>
            </div>
            <div class="content">
              <span>Total Stays: </span><strong>24</strong>
            </div>
          </div>
          <div class="row">
            <div class="icon-wrapper">
              <mat-icon class="other-facts-icon">nights_stay</mat-icon>
            </div>
            <div class="content"><span>Nights: </span><strong>32</strong></div>
          </div>
          <div class="row">
            <div class="icon-wrapper">
              <mat-icon class="other-facts-icon">king_bed</mat-icon>
            </div>
            <div class="content">
              <span>Avg Stay: </span><strong>1.33 nights</strong>
            </div>
          </div>
          <div class="row">
            <div class="icon-wrapper">
              <mat-icon class="other-facts-icon">input</mat-icon>
            </div>
            <div class="content">
              <span>Last Visit: </span><strong>2018-08-15</strong>
            </div>
          </div>
          <div class="row other-facts">
            <div class="icon-wrapper">
              <mat-icon class="other-facts-icon">money</mat-icon>
            </div>
            <div class="content">
              <span>Lifetime Value: </span><strong>$3084.29</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
