.profile-fatcs {
  width: 300px;
  .mat-card {
    padding: 16px;
    border-radius: 0;
    .list {
      position: relative;
      .item {
        margin-bottom: 8px;
        .header {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          padding-bottom: 5px;
          h5 {
            margin: 0;
          }
          .open-in-new-icon {
            color: #57b1f9;
          }
        }
        .body {
          padding: 12px 0 8px;
          display: flex;
          .row {
            display: flex;
            width: 100%;
            margin-bottom: 8px;
            .icon-wrapper {
              position: relative;
              .score {
                position: absolute;
                display: block;
                top: 14px;
                left: 10px;
                font-size: 10px;
              }
              .other-facts-icon {
                color: #999;
              }
            }
            .content {
              display: flex;
              flex-direction: column;
              padding: 6px 0 8px 16px;
              &.score-summary {
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                padding: 12px;
              }
            }
          }
        }
        &.other-facts {
          .body {
            flex-direction: column;
            .row {
              .content {
                flex-direction: row;
                padding: 2px 16px;
                span {
                  width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }
  h1 {
    font-weight: 400;
  }
}
