<div class="table-wrapper mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon matPrefix class="sort-icon">sort</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="avatar-wrapper">
          <img class="avatar" src="{{ row.photo }}" alt="avatar" />
        </div>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Local ID</th>
      <td mat-cell *matCellDef="let row">{{ row.localid }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.prefix | initials: true }} {{ row.first_name }}
        {{ row.last_name }}
      </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{ row.address | trunc: 15 }}</td>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified</th>
      <td mat-cell *matCellDef="let row">
        {{ row.modified | date: 'yyyy-MM-dd' }}
      </td>
    </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>View</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon matPrefix class="arrow-right-icon"
          >arrow_forward_ios</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      routerLink="/profile/{{ row.localid }}"
      routerLinkActive="active"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100, 250]"></mat-paginator>
</div>
