.table-wrapper {
  margin: 20px;
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .avatar {
    border-radius: 50%;
    width: 30px;
  }

  .mat-row {
    cursor: pointer;
    &:hover {
      background: #eee;
    }
    &:active {
      background: #bbb;
    }
  }
}
