// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: '"Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 200),
  $display-3: mat-typography-level(56px, 56px, 200),
  $display-2: mat-typography-level(45px, 48px, 200),
  $display-1: mat-typography-level(34px, 40px, 200),
  $headline: mat-typography-level(24px, 32px, 200),
  $title: mat-typography-level(32px, 32px, 200),
  $subheading-2: mat-typography-level(16px, 22px, 200),
  $subheading-1: mat-typography-level(15px, 24px, 200),
  $body-2: mat-typography-level(14px, 24px, 200),
  $body-1: mat-typography-level(14px, 30px, 200),
  $caption: mat-typography-level(14px, 20px, 200),
  $button: mat-typography-level(14px, 24px, 400),
  $input: mat-typography-level(inherit, 1.125, 200)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$search-profile-primary: mat-palette($mat-blue);
$search-profile-accent: mat-palette($mat-gray, A200, A100, A400);

// The warn palette is optional (defaults to red).
$search-profile-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$search-profile-theme: mat-light-theme(
  $search-profile-primary,
  $search-profile-accent,
  $search-profile-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($search-profile-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
